- var arreglo = users

p= arreglo[1].description

//- - var values = [{ description: 'jajaja', prueba: 'real' }, { description: 'jojojo', prueba: 'crack' }];
//- ul
//-     each val in values.length ? values : ['There are no values']
//-         li= val.description

//- - var user = [{description: 'foo bar baz', prueba: "real"}]
//- - var authorised = false
//- - var user1 = user[0]

//- p= user1.description

//- div(class="invalid-feedback")
//-     if user[0].description
//-         h2.green Description
//-         p.description= user
//-         //- p.description= user[0].prueba
//-     else if authorised
//-         h2.blue Description
//-         p.description.
//-         User has no description,
//-         why not add one...
//-     else
//-         h2.red Description
//-         p.description User has no description                       
//- #user
