mixin employerdb(currentUser)

    div(class="container text-center")
        div(class="row")
            div(class="col") Column UNO
            div(class="col") Column DOS
            div(class="col") Column TRES
